<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/notes.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/colors.css"/>
</head>
<script type="text/javascript">
    function submitcmnt() {
        $.ajax({
            method : 'post',
            url : 'add_comment',
            data : {
                p_id : $('#pid').text(),
                content : $('#content').val(),
                usn : $('#userusn').text(),
                emaild : $('#emailid').val()
                },
            success : function(data) {
                alert('Submitted');
            },
            failure : function() {
                alert('submission failed');
            }
        });
    }
</script>
<body>

    <div class="bar">
        <div class="user">Welcome, <%=user.name%></div>
        <span id="userusn" style="display:none;"><%=user.usn%></div>
    </div>
    
    <div class="cards">
        <div class="container">        
            <div class="SpringGreen">
                <div class="card">
                    <span id="pid" hidden><%=note[0]._id%></span>
                    <div class="title">
                        <a href="<%='http://nptel.ac.in/courses/' + note[0].subject + '/' + note[0].lec_no%>"
                            target="_blank">
                            Lecture
                        </a> at <%=note[0].note_time%>
                        <a href=<%='/view_note?_id='+note[0]._id%>>View note</a>
                    </div>
                    <div class="content">
                        <%=note[0].content%>
                        <% if(note[0].ext_links) { %>
                            <br/> <a href="<%=note[0].ext_links%>"><%=note[0].ext_links%></a>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards">
    <div class="container">
    <% for(var i=0; i<comments.length; i++) {%>
        <div class="container">        
            <div class="SpringGreen">
                <div class="card">
                    <span hidden><%=comments[i]._id%></span>
                    <span class="author"><%=comments[i].author%></span>
                    <div class="content">
                        <%=comments[i].content%>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    <div>
    <h2>Add a comment</h2>
            <textarea id="content" name="content"></textarea>
            <input type="submit" value="submit" class="btn btn-block btn-lg btn-success" onclick="submitcmnt()">
    </div>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type='text/javascript' src="javascripts/jquery.appear.js"></script>
    <script type='text/javascript' src="javascripts/jquery-ui.js"></script>
    <script type='text/javascript' src="javascripts/jquery-filedownload.js"></script>
    <script type='text/javascript' src="javascripts/notes.js"></script>
    </body>
    </html>